
#home{
    position: absolute;
    top: 9vh;
    left: 5px;
}

#anterior{
    position: absolute;
    top: 50%;
    left: 16px;
    transform:translateY(-50%)
}

#siguiente{
    position: absolute;
    top: 50%;
    right: 16px;
    transform:translateY(-50%)
}

.pokedetalles{
    padding: 20px 40px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto{
    padding: 8px;
    width: 158px;
    height: 158px;
    border: 1px solid black;
    border-radius: 8px;
    margin-inline: auto;
    margin-block: 8px;
}

.foto img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
} 

.tipos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-block: 8px;
}

table{
    display: table;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 32px;
    margin-inline: auto;
}

th, td{
    border: 1px solid black;
}

td{
    padding: 0 40px;
}

th{
    padding: 0 8px;
}

thead{
    text-align: end;
}

