*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --pokered: #CB2121;
    --normal: #A6A678;
    --fuego: #F08030;
    --agua: #6890F0;
    --planta: #78C850;
    --electrico: #F8D030;
    --hielo: #98D8D8;
    --lucha: #C03028;
    --veneno: #A040A0;
    --tierra: #E0C068;
    --volador: #A890F0;
    --psiquico: #F85888;
    --bicho: #A8B820;
    --roca: #B69F3A;
    --fantasma: #705898;
    --dragon: #7038F8;
    --oscuro: #705848;
    --acero: #B8B8D0;
    --hada: #F0B6BC;
}

main{
    z-index: 0;
    position: relative;
}